.section p {
  margin-right: 30%;
}

.card {
  width: 90%;
  left: 5%;
  position: absolute;
  background: var(--color-white);
  border-radius: var(--card-border-radius);
}

.card .holder {
  padding: 2rem;
}

.entry {
  text-align: center;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

input, textarea, select {
  border: none;
  padding: var(--search-padding);
  background: var(--color-light);
  border-radius: var(--border-radius);
  color: var(--color-dark);
  font-family: "Poppins", sans-serif;
}

h4 {
  margin: 0.5rem 0 0.5rem 0;
}
h2 {
  margin: 0;
}
