{% load static %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GamerDatez</title>
    <link rel="stylesheet" href="{% static 'styling/global.css' %}"/>
    <link rel="stylesheet" href="{% static 'styling/landing.css' %}"/>
    <link rel="stylesheet" href="{% static 'styling/compatibility/landing.css' %}"/>
  </head>
  <body>
    <main>
      <div class="info">
        <h1 class="animate fadeIn" style="font-weight: strong;">A place to meet like minded ppl</h1>
        <p class="desc animate fadeIn one">
        A safe place conecting you to people with <b>video games</b>, what? 
        Are you waiting for me to woo you with an essay you will never read?</p>
        <br>
        <a href="/info" class="btn btn-primary fadeIn animate one"
        style="text-decoration: none;">Well your in luck</a>
      </div>
      <div class="box animate fadeIn two">
        <div class="inner-box">
          <div class="forms-wrap">
            <form onsubmit="signup(); return false;" autocomplete="off" class="sign-in-form" method="POST">
              {% csrf_token %}
              <div class="heading">
                <h2>Ready to try?</h2>
                <h6>Already done this before?</h6>
                <a href="#" class="toggle">Sign in then!</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap" id="sign-input-wrap">
                  <input
                    type="text"
                    name="username"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    method="POST"
                    placeholder="Username"
                    id="signupUsername"
                    required
                  />
                </div>

                <input type="submit" value="Try it now" class="btn sign-btn" method="POST" />

                <p class="text">
                  
                </p>
              </div>
            </form>

            <form onsubmit="login(); return false;" autocomplete="off" class="sign-up-form" method="POST">
              {% csrf_token %}
              <div class="heading">
                <h2>Hello there!</h2>
                <h6>Ain't got an account yet?</h6>
                <a href="#" class="toggle">Get one!</a>
              </div>

              <div class="actual-form">
                <div class="input-wrap" id="login-input-wrap">
                  <input
                    type="text"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    method="POST"
                    name="lusername"
                    placeholder="Username"
                    required
                  />
                </div>

                <div class="input-wrap" id="login-input-wrap">
                  <input
                    type="password"
                    minlength="4"
                    class="input-field"
                    autocomplete="off"
                    method="POST"
                    name="lpassword"
                    placeholder="Password"
                    required
                  />
                </div>

                <input type="submit" value="Sign In" class="btn sign-btn" />
              </div>
            </form>
          </div>
        </div>
      </div>
    </main>

    <p class="terms animate fadeInUp three" style="width: 100%; text-align: center; color: var(--color-gray); position: absolute; bottom: 0%; font-size: 0.75rem;">
      By using the platform, I agree to have my data stolen and to the <a href="/terms" style="text-align: center; color: var(--color-gray);">Terms of Service</a>, also cookies n all that stuff idk</p>

    <script type="text/javascript" src="{% static 'javascript/jquery.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/global.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascript/landing.js' %}"></script>
  </body>
</html>
