{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Info abt GamerDatez</title>
    <link rel="stylesheet" href="../static/styling/pitch.css"/>
    <link rel="stylesheet" href="../static/styling/global.css"/>
  </head>
  <body>
    <div class="navbar animate fadeInDown">
      <a href="#" id="pitch">Pitch</a>
      <a href="#" id="devlog">Devlog</a>
      <a href="#" id="faq">FAQ</a>
      <a href="#" id="about">About</a>
    </div>
    <div class="sections">
      <div class="pitch-tab">
        <div class="entry animate fadeIn">
          <p id="title" style="text-align: left; padding: 2rem;">
            Why sign up to GamerDatez? Well thats a great question I wished more people would ask. You see thats what
            this essay is for! So here is several hours of my life here to convince you to spend five minutes using
            this Tinder & Snapchat hybrid mixed with some humor from the office.
          </p>
        </div>
        <div class="card animate fadeIn one">
          <div class="section">
            <div class="left">
              <iframe src="https://giphy.com/embed/WOIGpnJ3ye445BUQl4" width="480" height="400" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
            <div class="right">
              <h1>A place dedicated to a single community</h1>
              <p>One that is completely dedicated to the incredibly gaming community and its members. A place
              that treats the community as its entire demographic, not a niche stepping stone to relegate as a sub-group
              down the line.</p>
            </div>
          </div>
          <div class="section">
            <div class="left">
              <h1>Where hanging out is GENUINELY easy</h1>
              <p>And connecting with people over video games couldn't be more frictionless with more cheesy pickup
                lines than ever previously known! Where your both so busy focusing on what build palette to use in Minecraft
                or which spot to land in Fortnite that you can easily hang out with each other</p>
            </div>
            <div class="right">
                <iframe src="https://giphy.com/embed/l2Je27i1H6hhKrdni" width="480" height="362" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
          </div>
          <div class="section">
            <div class="right">
              <iframe src="https://giphy.com/embed/jU9OCvBiO1besabUKU" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
            <div class="left">
              <h1>A spartan design for yours truly</h1>
              <p>While some people would call it unfinished, i call it <b>minimalism</b>.
                Be able to clearly focus on communicating with new people and playing video games without your eyes & PC
                going <i>brrrrrrrrrrr</i>
                </p>
            </div>
          </div>
          <div class="section">
            <div class="left">
              <h1>A relatable and truly genuine platform</h1>
              <p>Instead of companies & services posting dead trends on Twitter just to squeeze
              the last penny out of their marketing budget we can up them with a $0 marketing budget with our
              ENTIRE platform full of dead trends from Twitter.<br><br>neat huh?</p>
            </div>
            <div class="right">
              <iframe src="https://giphy.com/embed/5q3LjlbEEZcNOkMK4V" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
          </div>
          <div class="section">
            <div class="right">
              <iframe src="https://giphy.com/embed/Wq4XuPC9gFzR6" width="480" height="356" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
            <div class="left">
              <h1>An almost reliable experience</h1>
              <p>While you sure as hell don't want to look behind the curtain *cough* you can feel a
                seamless and comfortable experience that can work even with poor internet.
                </p>
            </div>
          </div>
          <div class="" style="margin-bottom: 0.5rem; text-align: center;">
            <p>Well damn, I've reached the end of my pitch.
            I bet you were hoping that would never end huh? So what do you say you move your lil mouse
            to the sign up button eh? ( ͡° ͜ʖ ͡°)</p>

            <button type="button" onclick="window.location.href='/landing'" class="btn"
            name="button">Well don't mind If I do</button>
          </div>
        </div>
      </div>
      <div class="devlog-tab">
        <div class="sidenav">
          <a href="#" id="devHelp">Help</a>
          <h4>Pre Releases & Patches</h4>
          <a href="#" id="release0">Release #0</a>
          <a href="#" id="patch0-1">Patch #0.1</a>
        </div>
        <div>
          <div class="devHelp-tab">
            <div style="text-align: center">
              <h2>Welcome to a year of my life</h2>
            </div>
            <p>
              Hello there! You must be new here, welcome to the archives.<br><br> 
              
              Here we have records of all moderate to major updates with a personal touch, each devlog describes the process of the update, whats new, what has been fixed, what bugs we have added and a summary of the state of the platform.<br><br>
              
              The logs will be short n sweet since they will be moderately frequent, the logs are also a good place to find potential ways to fix bugs if there isn't a solution in the FAQ or support is out fishing.<br><br>
              
              We do not actively show / promote when an update has been released but rather the content itself, the frequency of updates will be around every two to three weeks depending on size & interest.<br><br>
              
              Well thats all from me, make sure to like, subscribe, support me on Patreon and I will see you in the next one<br>
              - MilanTheNoob
            </p>
          </div>
        </div>
      </div>
      <div class="faq-tab">
        <div>
          <div style="text-align: center;">
            <h1>FAQ (F***ing Annoying Questions)</h1>
            <p>Well lets see if there is something to help you out then!</p>
          </div>
          <h3>Something broke and it ain't working, what do I do?</h3>
          <p>
            Follow these basic debugging steps to try and solve it:<br><br>
          
            - Find the problem on popular forums & social sites (Reddit, Stack Overflow, Discord, etc) and see if a solution presents itself<br>
            - Check the devlogs to see if the bug has been listed, if it has a fix & whats causing it<br>
            - Still ain't working? Damn, message me (deets in the about section) about it and I will do my best to include it in the next patch<br>
            - <b>Nuclear Option For Nerds</b> - If it appears that the issue is frontend, install TamperMonkey and modify the website yourself
          </p>
          <h3>Im bored</h3>
          <p>
            Why not use your time to help out your favourite dating app eh 😉<br>
            
            Sure as hell more entertaining to program or moderate while watching Netflix than just watching Netflix :D
          </p>
          <h3>I forgot my login!</h3>
          <p>To quote the landing webpage <i>"Well suck it, that isn't my problem"</i><br><br>
          
          Our reasoning for not supporting alternate login methods is that this project & subsequently the code is in its infancy, and adding an easily exploitable feature without proper security measures & features (such as Two Factor Auth) it would be complete anarchy.
          </p>
        </div>
      </div>
      <div class="about-tab">
        <div class="section">
          <div class="left">
            <h1 style="margin-bottom: 1rem;">Origins</h1>
            <p><i>Thinking of some momentous and moving paragraph of words</i><br><br>
            </p>
          </div>
          <div class="right">
            <b>Me:</b> Yeah that would be funny, imagine a dating app for gamers lol<br>
            <b>Someone:</b> Mmmm, wait a minute, what if there was a dating app for gamers?<br>
            <b>Me:</b> But why tho?<br>
            <b>Someone:</b> Think about it, its something that hasen't really been done before properly?<br>
            <b>Me:</b> Son of a bitch, im in
            </p>
          </div>
        </div>
        
        <div class="section">
          <div class="left">
            <h1>But Why</h1>
            <p></p>
          </div>
          <div class="right">
            
          </div>
        </div>
        
        <div class="section">
          <div class="left">
        
          </div>
          <div class="right">
        
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="../static/javascript/pitch.js"></script>
  </body>
</html>
