<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GamerDatez Setup</title>
    <link rel="stylesheet" href="{% static 'styling/setup.css' %}"/>
    <link rel="stylesheet" href="{% static 'styling/global.css' %}"/>
  </head>
  <body>
    <div class="entry">
      <h1 class="animate fadeInDown">Oh my lord, you made it!</h1>
      <p class="animate fadeInDown one">Before jumping in, lets go through a quick n easy setup so you can frictionlessly find
      people to engage with!</p>
    </div>
    <div class="card animate fadeIn one">
      <form id="setupForm" action="/actions/finish-setup" method="POST"> {% csrf_token %}</form>
      <form id="ppForm" action="/actions/submit-avatar" method="POST"> {% csrf_token %}</form>

      <div class="holder">
        <div class="section general-tab">
          <h2>General</h2>
          <p class="text-muted">Good ol' standard information we need to sel- I MEAN improve your tailored
          experience eh?</p>
          <h4>Your Name</h4>
          <div class="name">
            <input form="setupForm" type="text" name="first_name" value="" placeholder="First Name">
            <input form="setupForm" type="text" name="last_name" value="" placeholder="Last Name">
          </div>
          <h4>Age</h4>
          <input form="setupForm" type="number" min="14" max="110" name="age" placeholder="Age" value="">
          <h4>Date of Birth</h4>
          <input form="setupForm" type="date" name="birth_date" placeholder="">
          <h4>Country (Two Letter Code)</h4>
          <input form="setupForm" type="text" name="country" size="2" value="Country">
          <h4>Gender</h4>
          <select form="setupForm" name="sex" placeholder="Gender">
            <option value="0">Male</option>
            <option value="1">Female</option>
            <option value="2">Other</option>
          </select>
          <h4>Interested in</h4>
          <select form="setupForm" name="preference" placeholder="Preference">
            <option value="0">Male</option>
            <option value="1">Female</option>
            <option value="2">Other</option>
          </select>
          <h4>Profile Bio</h4>
          <textarea form="setupForm" name="bio" rows="8" cols="80" placeholder="Bio"></textarea>
          <br><a id="gaming" class="btn btn-primary">Continue</a>
        </div>
        <div class="section avatar-tab">
          <h2>Avatar</h2>
          <p class="text-muted">Wooo! Lets jump in straight first into your Avatar, this isn't first cus
          the platform is poorly coded and it needs to be this way mhm, we are ... just rly excited about
          your avatar.</p>
          <h4>The color of your skin 👨🏻‍🦳👨🏼‍🦳👨🏽‍🦳👨🏾‍🦳👨🏿‍🦳</h4>
          <select form="ppForm" class="" name="pp_skin" placeholder="Skin Color">
            <option value="BLACK">Black</option>
            <option value="TANNED">Tanned</option>
            <option value="YELLOW">Yellow</option>
            <option value="PALE">Pale</option>
            <option value="LIGHT">Light</option>
            <option value="BROWN">Brown</option>
            <option value="DARK_BROWN">Dark Brown</option>
          </select><br>
          <h4>The color of your hair / hat  🎩</h4>
          <select form="ppForm" class="" name="pp_hair_color" placeholder="Hair Color">
            <option value="BLACK">Black</option>
            <option value="AUBURN">Auburn</option>
            <option value="BLONDE">Blonde</option>
            <option value="BLONDE_GOLDEN">Blonde Golden</option>
            <option value="BROWN">Brown</option>
            <option value="BROWN_DARK">Brown Dark</option>
            <option value="PASTEL_PINK">Pastel Pink</option>
            <option value="PLATINUM">Platinum</option>
            <option value="RED">Red</option>
          </select><br>
          <h4>Style of your hair / hat 🤠</h4>
          <select form="ppForm" class="" name="pp_top" placeholder="Hair & Hats">
            <option value="EYE_PATCH">Eye Patch </option>
            <option value="HAT">Hat</option>
            <option value="HIJAB">Hijab</option>
            <option value="TURBAN">Turban</option>
            <option value="WINTER_HAT1">Winter Hat #1</option>
            <option value="WINTER_HAT2">Winter Hat #2</option>
            <option value="WINTER_HAT3">Winter Hat #3</option>
            <option value="WINTER_HAT4">Winter Hat #4</option>
            <option value="LONG_HAIR_BIG_HAIR">Long Hair</option>
            <option value="LONG_HAIR_BOB">Bob Hair</option>
            <option value="LONG_HAIR_BUN">Bun Hair</option>
            <option value="LONG_HAIR_CURLY">Long Curly Hair</option>
            <option value="LONG_HAIR_CURVY">Curvy Hair</option>
            <option value="LONG_HAIR_DREADS">Dreads</option>
            <option value="LONG_HAIR_FRIDA">Frida</option>
            <option value="LONG_HAIR_FRO">Fro</option>
            <option value="LONG_HAIR_FRO_BAND">Fro (with a band)</option>
            <option value="LONG_HAIR_NOT_TOO_LONG">Medium Length Hair</option>
            <option value="LONG_HAIR_MIA_WALLACE">Mia Wallace Style</option>
            <option value="LONG_HAIR_SHAVED_SIDES">Shaved Sides</option>
            <option value="LONG_HAIR_STRAIGHT">Straight Hair</option>
            <option value="LONG_HAIR_STRAIGHT2">Straight Hair #2</option>
            <option value="LONG_HAIR_STRAIGHT_STRAND">Stranded Hair</option>
            <option value="SHORT_HAIR_DREADS_01">Short Dreaded Hair</option>
            <option value="SHORT_HAIR_DREADS_02">Short Dreaded Hair #2</option>
            <option value="SHORT_HAIR_FRIZZLE">Frizzled Hair</option>
            <option value="SHORT_HAIR_SHAGGY_MULLET">Mullet</option>
            <option value="SHORT_HAIR_SHORT_CURLY">Short n Curly Hair</option>
            <option value="SHORT_HAIR_SHORT_FLAT">Flat n Short Hair</option>
            <option value="SHORT_HAIR_SHORT_ROUND">Round Hair</option>
            <option value="SHORT_HAIR_SHORT_WAVED">Waved Hair</option>
            <option value="SHORT_HAIR_SIDES">Sides only (short)</option>
            <option value="SHORT_HAIR_THE_CEASAR">Ceasar</option>
            <option value="SHORT_HAIR_THE_CEASAR_SIDE_PART">Ceasar (sides only)</option>
          </select><br>
          <h4>Facial Hair 🪒</h4>
          <select form="ppForm" class="" name="pp_facial">
            <option value="DEFAULT">None</option>
            <option value="BEARD_MEDIUM">Medium Beard</option>
            <option value="BEARD_LIGHT">Light Beard</option>
            <option value="BEARD_MAJESTIC">A Truly Majestic Beard</option>
            <option value="MOUSTACHE_FANCY">Fancy Moostache</option>
            <option value="MOUSTACHE_MEDIUM">Standard Moustache</option>
          </select><br>
          <h4>Clothing 👔</h4>
          <select form="ppForm" class="" name="pp_clothes">
            <option value="BLAZER_SHIRT">Blazer Shirt</option>
            <option value="BLAZER_SWEATER">Blazer Sweater</option>
            <option value="COLLAR_SWEATER">Collar</option>
            <option value="GRAPHIC_SHIRT">Graphic Shirt</option>
            <option value="HOODIE">Hoodie</option>
            <option value="OVERALL">Overall</option>
            <option value="SHIRT_CREW_NECK">Shirt Crew Neck</option>
            <option value="SHIRT_SCOOP_NECK">Shirt Scoop Neck</option>
            <option value="SHIRT_V_NECK">Shirt V Neck</option>
          </select><br>
          <h4>Clothing Graphics 🤳🏿</h4>
          <select form="ppForm" class="" name="pp_clothes_graphics">
            <option value="BAT">Bat 🦇</option>
            <option value="CUMBIA">Cumbia 💃</option>
            <option value="DEER">Deer 🦌</option>
            <option value="DIAMOND">Diamond 💎</option>
            <option value="HOLA">Hola 👋</option>
            <option value="PIZZA">Pizza 🍕</option>
            <option value="RESIST">Resist</option>
            <option value="SELENA">Selena</option>
            <option value="BEAR">Bear 🐻</option>
            <option value="SKULL">Skull 💀</option>
          </select><br>
          <h4>Clothing Color 🎨</h4>
          <select form="ppForm" class="" name="pp_clothes_color">
            <option value="WHITE">White</option>
            <option value="BLACK">Black</option>
          </select><br>
          <h4>Mouth Type ^_^</h4>
          <select form="ppForm" class="" name="pp_mouth">
            <option value="DEFAULT">Natural 😎</option>
            <option value="CONCERNED">Concerned ☹️</option>
            <option value="DISBELIEF">Disbelief 😲</option>
            <option value="EATING">Eating 🍊</option>
            <option value="GRIMACE">Grimace 😬</option>
            <option value="SAD">Sad 😔</option>
            <option value="SCREAM_OPEN">Scream Open 😱</option>
            <option value="SERIOUS">Serious 😐</option>
            <option value="SMILE">Smile 😀</option>
            <option value="TONGUE">Tongue 😛</option>
            <option value="TWINKLE">Twinkle 🤩</option>
            <option value="VOMIT">Vomit 🤮</option>
          </select><br>
          <h4>Nose Type</h4>
          <select form="ppForm" class="" name="pp_nose">
            <option value="DEFAULT">Standard (More Comin Soon)</option>
          </select><br>
          <h4>Eyes Type</h4>
          <select form="ppForm" class="" name="pp_eyes">
            <option value="DEFAULT">Standard</option>
            <option value="CLOSE">Closed</option>
            <option value="CRY">Crying</option>
            <option value="DIZZY">Dizzy</option>
            <option value="EYE_ROLL">Eye Roll</option>
            <option value="HAPPY">Happy</option>
            <option value="HEARTS">Side</option>
            <option value="SQUINT">Squint</option>
            <option value="SUPRISED">Suprised</option>
            <option value="WINK">Wink</option>
            <option value="WINK_WACKY">Wacky Wink</option>
          </select><br>
          <h4>Eyebrow Type</h4>
          <select form="ppForm" class="" name="pp_eyebrow">
            <option value="DEFAULT_NATURAL">Standard</option>
            <option value="ANGRY_NATURAL">Angry</option>
            <option value="FLAT_NATURAL">Flat</option>
            <option value="RAISED_EXCITED_NATURAL">Excited</option>
            <option value="SAD_CONCERNED_NATURAL">Concerned</option>
            <option value="UNI_BROW_NATURAL">Uni Brow</option>
            <option value="UP_DOWN_NATURAL">Up Down</option>
            <option value="FROWN_NATURAL">Frown</option>
          </select><br>
          <h4>Glasses</h4>
          <select form="ppForm" class="" name="pp_glasses">
            <option value="DEFAULT">None</option>
            <option value="KURT">Kurt</option>
            <option value="PESCRIPTION_01">Prescription #1</option>
            <option value="PRESCRIPTION_02">Prescription #2</option>
            <option value="ROUND">Round</option>
            <option value="SUNGLASSES">Sunglasses</option>
            <option value="WAYFARERS">Wayfarers</option>
          </select><br>

          <br>
          <!--- <button form="ppForm" type="submit" class="btn" style="background: var(color-light); margin-right: 0.5rem;"
          onclick="document.querySelector('.avatar-continue-btn').style.display = '';">Generate Avatar</button>
          <a id="general" class="btn btn-primary avatar-continue-btn">Continue</a>--->

          <button form="ppForm" type="submit" class="btn btn-primary"
          onclick="document.cookie = 'tab=1path=/';">Continue</button>
        </div>
        <div class="section personality-tab">
          <h2>Personality</h2>
          <h4>How Intra - Extraverted You Are (1 - Extremely Intraverted, 5 - Extremely Extraverted)</h4>
          <input form="setupForm" type="number" name="version" value="">

          <br><a id="gaming" class="btn btn-primary">Continue</a>
        </div>
        <div class="section gaming-tab">
          <h2>Gaming</h2>
          <h4>Favourite Three Game</h4>
          <select form="setupForm" class="" name="fav_game_1">
            {% for val, name in game_options %}
            <option value="{{val}}">{{name}}</option>
            {% endfor %}
          </select>
          <select form="setupForm" class="" name="fav_game_2">
            {% for val, name in game_options %}
            <option value="{{val}}">{{name}}</option>
            {% endfor %}
          </select>
          <select form="setupForm" class="" name="fav_game_3">
            {% for val, name in game_options %}
            <option value="{{val}}">{{name}}</option>
            {% endfor %}
          </select>
          <br><a id="premium" class="btn btn-primary">Continue</a>
        </div>
        <div class="section premium-tab">
          <h2>A quick message</h2>

          <button form="setupForm" type="submit" name="button">Finish</button>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="{% static 'javascript/setup.js' %}"></script>
  </body>
</html>
