{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>GamerDatez TOS</title>
    <link rel="stylesheet" href="{% static 'styling/terms.css' %}"/>
    <link rel="stylesheet" href="{% static 'styling/global.css' %}"/>
  </head>
  <body>
    <div class="entry animate fadeInDown">
      <iframe src="https://giphy.com/embed/xTiIzJSKB4l7xTouE8" width="240" height="104" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <p>This is preliminary, changes to structure, layout & wording will be made but the terms stated below stand regardless
      </p>
    </div>
    <div class="card animate two fadeIn">
      <p>All the sections of the terms will be cleanly distributed with titles along
      with a healthy amount of gifs, & jokes. At the end will be a TLDR about what each section means
      and so on until we have covered everything.<br><br>
      Ready? No? Well screw you i'm starting anyway</p>
      <h2>Number 1 - Acceptance of Terms of Service</h2>
      <p>By creating a GamerDatez account or by trying to use the platform & its services in any capacity you agree
      to abide & be bound by the entirety of the Terms of Service and any terms described or disclosed to you if you
    access or purchase any additional features and/or services. If you do not or fail to accept the Terms of Service
    you should in no way be attempting to use our platform.<br><br>

    We may and likely will make changes & tweaks to this agreement and to the platform on a frequent basis,
    we will do this for a wide range of reasons including (but not limited to) changes to the law, the implementation
    of a new feature & changes in business practices. The latest & most relevant version will always be displayed here
    (https://www.[unkown as of yet]/terms) and also being the version that applies. It is your sole obligation to keep
    updated on changes to these terms. If changes include material changes to your rights or obligations you will be
    notified in advance with reasonable means. If you continue to use the platform and our services after the changes
    come into effect then you agree to the revised changes & implementation of the updated Terms of Service.
    You agree that this agreement shall supersede any prior agreements (except as specifically stated herein), and
    shall govern your entire relationship with GamerDatez, including (but not limited to) agreements, events & conduct
    preceding your acceptance to this agreement.<br><br>

    We ask that you carefully review the dispute resolution provisions below, these govern the manner in which claims
    will be addressed between you and GamerDatez. The provisions include a mandatory pre-arbitration informal dispute
    resolution process, an arbitration agreement, small claims court election, class action waiver, additional
    procedures for mass arbitration filings and jury trial waiver that affect your rights.<br><br>

    <b>TLDR;</b> You fully accept all our terms listed here and continued use of our platform after us making any
    changes to these terms means you accept the changes.Oh and if you have a dispute I will personally
    drown you in so much paperwork to avoid going to court since we ain't got time for that 🙃
    (plus why would you want to go to court with me ? :0 )
</p>
      <h2>Número 2 - Eligibility</h2>
      <p>You must be at least over the age of 13 years to create an account with GamerDatez and use the platform.
      By creating an account and using the platform in any capacity you represent & warrant that:<br><br>

      - You can form a binding contract with yours truly (GamerDatez)<br>
      - You are not a person who is barred from using the service under the laws of any applicable jurisdiction
      (for example, you do not appear on the U.S. SDN list or any similar prohibition list)<br>
      - You will comply with this Agreement and all applicable local, state, national and international laws,
      rules and regulations, including without limitation, privacy laws, intellectual property laws, anti-spam laws,
      and regulatory requirements<br>
      - You have not committed, been convicted of, or pled no contest to a felony, a sex crime,
      or any crime involving violence or a threat of violence, unless you have received clemency for a non-violent
      crime and we have determined that you are not likely to pose a threat to other users of our Service,
      and that you are not required to register as a sex offender with any state, federal or local sex offender registry,<br>
      - You will use the latest version of the Service (via app or website),<br>
      - You do not have more than one account on the Service<br>
      - You have not previously been removed from the Service by us,
      unless you have our express written permission to create a new account.<br><br>

      If you are under the age of 18 years then you also warrant that:<br><br>

      - Your location cannot be shared in any capacity <br>
      - Specific features can and will be disabled <br>
      - Media & content that we believe to be explicit will not be shown to you <br><br>

      If at any time you cease to meet these requirements, all authorization to access our platform
      is automatically revoked, and you must immediately delete your account. <br><br>

      <b>TLDR;</b> This is all bout whether you can get in or not, if your under 14 (sorry kiddos) or your a criminal
      who is on a SDN list (less sorry now) then no entry for you (along with some more restrictions).
      And if you are under 18 then some rules will have to be in place for your safety.
      </p>
      <h2>Numerus 3 - Your Account</h2>
      <p>In order to use GamerDatez you will need to signup with basic personal information & credentials.
      It is your sole responsibility & obligation to keep any inputted credentials private and secure.
      You are also solely responsible for any and all actions taken with your account.

      <b>TLDR;</b>This one is short, gotta take sum responsibility for your password & stuff you do on there.
      It ain't my problem g.</p>
      <h2>数字 4 - Modifying the Service & Termination</h2>
      <p>GamerDatez is always striving to improve our ways of taking your mo- I MEAN to improve the service
      and bring new features & quality of life updates. This means our platform will change and also inherently
      means that we will not notify you in advance when we do (unless it affects your material rights).
      We may suspend our service without notice (purposefully or not).<br><br>

      Termination of an account is not possible as of the latest terms, you can for any reason have your
      account disabled until further notice. GamerDatez may terminate your account without warning or notice
      for any reason (without needing to be disclosed), upon such termination you will not be entitled for
      refunds or reimbursements of any kind. After your account is terminated, this agreement will also be
      terminated.<br><br>

      <b>TLDR;</b>GamerDatez can update its service without telling you, and can close your account without
      warning ... damn that doesn't sound good without the legal jibber jabber ... ANYWAY look! fluffy dog</p>
      <iframe src="https://giphy.com/embed/jDC88cf2Av3tC" width="240" height="145" frameBorder="0" class="giphy-embed"></iframe>
      <h2>Sayı 5 - Interacting with other Members</h2>
      <p><i>^ If anyone knows which language this is I will personally give you a crisp piece of paper
      with '$5' written on it</i><br><br>You agree to treat other users in a respectful manner whenever
      using our service (out of service its none of our business, but just be nice ppl ok?) GamerDatez is
      not responsible in anyway for the conduct of our users on our platform. And you agree to use
      caution and sense when engaging in interactions with other users. In addition you agree to never
      to provide financial information to other members.<br><br>

      You are solely responsible for your interactions with any human being you come across on our
      platform and real life, you understand that GamerDatez does not have the budget to conduct
      checks and verification of any kind on the background of its users and you fully recognise and
      understand GamerDatez makes no representations or warranties to the conduct & behaviour of its
      users.<br><br>

      <b>TLDR;</b> Have common sense, simple as that rly. We cannot ensure the fact that everyone will be
      nice and mean well. So be aware out there.
      </p>
      <h2>mI' 6 - Rights Given To You On Our Platform</h2>
      <p><i>^ If you know this one <b>marry me</b></i><br><br>

      GamerDatez grants you a personal, worldwide, non-assignable, revocable, non-exclusive, royalty-free,
      gluten-free and non-sublicensable license to access and use the service and the platform. This license
      is for the sole purpose of granting you access to the platform as GamerDatez intends. This license and
      any access to the service and platform are automatically revoked when you do any of the following:
      <br><br>
      - Use the service or any of its features for commercial purposes without written consent from GamerDatez <br>
      - Directly copy / clone copyrighted material or any and all intellectual material without GamerDatez's
      written consent <br>
      - Explicitly state that any statements are endorsed by GamerDatez without written consent from GamerDatez <br>
      - Use scripts / code to collect data from the platform or to modify its features without written consent
      from GamerDatez (I'm pretty cool g, just write me up an email and I will probs say its ok)<br>
      - Use the service and/or platform in any way that could negatively affect or disrupt the platform or any <br>
      connected infastructure (for example servers, networks, databases, etc)<br>
      - Upload malicious software & code that could compromise the security of GamerDatez, its infastructure
      and its users<br>
      - Disguise / manipulate identifiers for the sole purpose to disguise the origin of information<br>
      transmitted to us (GamerDatez)<br>
      - Test the vulnerability of the platform in any way<br>
      - Encourage activities that violate the agreement (listed right above)<br><br>

      GamerDatez may investigate and take any necessary legal action in response to violations of this agreement.<br><br>

      <b>TLDR;</b> Don't be a wise ass tryna hack me man, we ain't got the budget for decent security,
      if you wanna use some scripts or somethin for a project hit me up first for permission.
      </p>
      <iframe src="https://giphy.com/embed/vrxxqQbyRxYi6scCjT" width="120" height="88" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      <h2>Číslo 7 - Rights you grant GamerDatez</h2>
      <p>By using this platforms or any of its features or signing up you grant us (GamerDatez) a worldwide, transferable, 
        sub-licensable, royalty-free, right and license to host, store, use, copy, display, reproduce, adapt, edit, publish, 
        modify, reformat, incorporate into other works, advertise, distribute, and otherwise make available to the general public information
        you post, upload, display or otherwise make available (collectively, “post”) on the Service or transmit to other members 
        (collectively, “Content”).<br><br>

        You agree that all information that you submit upon creation of your account is accurate and truthful and you have the right to 
        post the Content on the Service and grant the license to GamerDatez above. You understand and agree that we may monitor or review any 
        Content you post as part of the Service. We may delete any Content, in whole or in part, that in our sole 
        judgment violates this Agreement or may harm the reputation of the Service.<br><br>

        When communicating with members of our dev team, you agree to be respectful and kind. If we feel that your behavior towards any of 
        our employees is at any time threatening, harassing, or offensive, we reserve the right to immediately terminate your account. In 
        consideration for GamerDatez allowing you to use the Service, you agree that we, our affiliates, and our third-party partners may 
        place advertising on the Service. By submitting suggestions or feedback to GamerDatez regarding our Service, you agree that 
        GamerDatez may use and share such feedback for any purpose without compensating you.<br><br>

        You agree that GamerDatez may access, store, and disclose your account information and Content if required to do so by law, 
        by performing its agreement with you, or in a good faith belief that such access, storage or disclosure satisfies a legitimate 
        interest, including to: (i) comply with legal process; (ii) enforce the Agreement; (iii) respond to claims that any Content 
        violates the rights of third parties; (iv) respond to your requests for customer service; or (v) protect the rights, property 
        or personal safety of the Company or any other person.<br><br>

        <b>TLDR;</b> GamerDatez has complete right to any content & information uploaded to the platform, we will keep your info & content
        private with diligence.<br>
        <iframe src="https://giphy.com/embed/Y1nuY3lRUb62A" width="120" height="86" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </p>
      <h2>Número 8 - Rules of the Community</h2>
      <p>By using the Service, you agree that you will not:<br><br>

        - use the Service for any purpose that is illegal or prohibited by this Agreement.
        <br>- use the Service for any harmful or nefarious purpose.
        <br>- use the Service in order to damage GamerDatez.
        <br>- violate our Community Guidelines, as updated from time to time.
        <br>- spam or solicit money or other items of value from another member, whether as a gift, loan, or other form of compensation, or otherwise defraud any members.
        <br>- impersonate any person or entity or post any images of another person without his or her permission.
        <br>- bully, “stalk,” intimidate, assault, harass, mistreat or defame, or otherwise mistreat any person.
        <br>- post any Content that violates or infringes anyone’s rights, including rights of publicity, privacy, copyright, trademark or other intellectual property or contract right.
        <br>- post any Content that is hate speech, threatening, sexually explicit or pornographic; incites violence; or contains nudity or graphic or gratuitous violence.
        <br>- post any Content that promotes racism, bigotry, hatred or physical harm of any kind against any group or individual.
        <br>- solicit passwords for any purpose, or personal identifying information for commercial or unlawful purposes from other users or disseminate another person’s personal information without his or her permission.
        <br>- use another user’s account, share an account with another user, or maintain more than one account.
        <br>- misrepresent your identity, age, current or previous positions, qualifications, or affiliations with a person or entity.
        <br>- create another account if we have already terminated your account, unless you have our permission.<br><br>

        <b>TLDR;</b> This is not a big brainer, just ... use the platform like a normal & sane person and if we ban you, take it as a hint for
        something.<br>
        <iframe src="https://giphy.com/embed/ATKqmCTSd5fXygIOTB" width="120" height="86" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
      </p>
      <h2>Nnɯqǝɹ 9 - Other User's Content & Creations</h2>
      <p><i>^ I'm running out of ideas over here</i><br><br>
      
        Although GamerDatez reserves the right to review and remove Content that violates this Agreement, such Content is 
        the sole responsibility of the member who posts it, and GamerDatez cannot guarantee that all Content will comply with this Agreement.<br><br>

        <b>TLDR;</b> Read the one sentence good god.
      </p>
      <h2>Integer 10 - Purchases, Transactions & Goods</h2>
      <p><b>Standard</b> - GamerDatez offers products & services for purchase using third party services (e.g. Google Play), payment platforms
        (e.g. PayPal) or directly. If you choose to make a purchase, the price of the transaction will be displayed to you, after being prompted
        to confirm the purchase & transaction you will be charged the displayed price along with sales and/or similar taxes.<br><br>

        <b>Auto Renewal / Subscription</b> - If you purchase an auto-recurring periodic subscription through an in app purchase, 
        your Payment Method will continue to be billed for the subscription until you cancel. After your initial subscription commitment 
        period, and again after any subsequent subscription period, your subscription will automatically continue for an additional 
        equivalent period, at the price you agreed to when subscribing. Your card payment information will be stored and subsequently 
        used for the automatic card payments in accordance with the Agreement.<br><br>

        If you do not wish your subscription to renew automatically, or if you want to change or terminate your subscription, 
        you will need to terminate or cancel your subscription, even if you have otherwise deleted your account with us. 
        Deleting your account on GamerDatez or deleting the GamerDatez application from your device does not terminate or cancel your subscription; 
        GamerDatez will retain all funds charged to your Payment Method until you terminate or cancel your subscription on GamerDatez or the 
        third party account, as applicable. If you terminate or cancel your subscription, you may use your subscription until the end of your 
        then-current subscription term, and your subscription will not be renewed after your then-current term expires.<br><br>

        <b>Virtual Items (Tokens, Coins, NFTs, etc)</b> - From time to time, you may be able to purchase, earn, or be granted a limited, 
        personal, non-transferable, non-sublicensable, revocable license to use “virtual items,” which could include virtual products
        or other units that are exchangeable within the Service for virtual products (collectively, “Virtual Items”). Any Virtual Item balance 
        shown in your account does not constitute a real-world balance or reflect any stored value, but instead constitutes a measurement of the 
        extent of your license. Virtual Items do not incur fees for non-use, however, the license granted to you in Virtual Items will terminate 
        in accordance with the terms of this Agreement, when GamerDatez ceases providing the Service, or your account is otherwise closed or 
        terminated. GamerDatez, in its sole discretion, reserves the right to charge fees for the right to access or use Virtual Items and may 
        distribute Virtual Items with or without charge. GamerDatez may manage, regulate, control, modify or eliminate Virtual Items at any time. 
        GamerDatez shall have no liability to you or any third party in the event that GamerDatez exercises any such rights. Virtual Items may only be 
        redeemed through the Service. ALL PURCHASES AND REDEMPTIONS OF VIRTUAL ITEMS MADE THROUGH THE SERVICE ARE FINAL AND NON-REFUNDABLE. 
        The provision of Virtual Items for use in the Service is a service that commences immediately upon the acceptance of your purchase of 
        such Virtual Items. YOU ACKNOWLEDGE THAT GAMERDATEZ IS NOT REQUIRED TO PROVIDE A REFUND IN RESPECT OF VIRTUAL ITEMS FOR ANY REASON, 
        AND THAT YOU WILL NOT RECEIVE MONEY OR OTHER COMPENSATION FOR UNUSED VIRTUAL ITEMS WHEN AN ACCOUNT IS CLOSED, WHETHER SUCH CLOSURE 
        WAS VOLUNTARY OR INVOLUNTARY.<br><br>

        <b>Refunds</b> - All charges, transactions & purchases are final. No exceptions will be made.<br><br>

        <b>TLDR;</b> Outlines the different payment structures & <b>explicitly</b> states that there are no refunds
      </p>
      <h2>Wait? Thats it? WE MADE IT!</h2>
      <p>Bloody hell that took a lot of coffee, this is a WOIP agreement that covers the basic operations and workings of the platform.
        For issues found with this agreement or the service please contact us!<br><br>

        Now I need to search for a Red Bull, cya later.
      </p>
    </div>
  </body>
</html>
